body {
  font-family: "Darker Grotesque", sans-serif;
  margin-left: 1em;
}

h1 {
  font-family: "Bonheur Royale", cursive;
  text-shadow: rgb(230, 230, 230) 3px 2px 1px;
  transform: translateX(0.6ch);
  margin-top: 1ch;
}

div.credits {
  font-size: 0.75rem;
  font-weight: 100;
  color: gray;
  position: absolute;
  // margin-top: 1em;
  right: 2em;
  top: 2.5em;
  font-style: italic;
}

div.credits * {
  margin: 0.2ch;
}

div.credits a {
  color: gray;
}

canvas {
  border: 1px solid gray;
}

button {
  padding: 0.5em;
  margin: 0.5em;
}

button.selected {
  background-color: lightblue;
}
